<ion-view view-title="Slide Wizard">
  <ion-content has-footer="true">
    <div class="card" style="color: red; text-align: center;" ng-show="errorMessage">
      {{errorMessage}}
    </div>
    <ion-slide-box show-pager="false" deletgate-handle="wizard">
      <ion-slide>
        <div class="box">
          <h1>What is your name?</h1>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="slide1.firstName">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="slide1.lastName">
            </label>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>What is your quest?</h1>
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Quests
              </div>
              <select ng-model="slide2.quest">
                <option ng-repeat="quest in quests" value="{{quest}}">{{quest}}</option>
              </select>
            </label>
          </div>
        </div>
      </ion-slide>
      <ion-slide class="box">

          <h1>What is your favorite color?</h1>
          <ion-radio value="{{color}}" ng-model="slide3.color" style="color: {{color}}; text-align:left;" ng-repeat="color in colors">
            {{color}}
          </ion-radio>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>What is the airspeed velocity of an unladen swallow?</h1>
          <ion-toggle ng-model="slide4.african" toggle-class="toggle-royal" style="text-align: left;"> African </ion-toggle>
          <ion-toggle ng-model="slide4.european" toggle-class="toggle-royal" style="text-align: left;"> European </ion-toggle>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>How much do you love kittens?</h1>
          <div class="item range">
            <i class="icon ion-heart-broken"></i>
            <input type="range" min="0" max="100" value="33" ng-model="slide5.love" />
            <i class="icon ion-heart"></i>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>FINAL SCORE!</h1>
          <div class="card" ng-repeat="slide in slides">
            <div class="item item-divider">
              Slide {{$index+1}}
            </div>
            <div class="item item-text-wrap">
              {{slide}}
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
  <ion-footer-bar>
    <div class="bar bar-footer">
      <div class="row">
        <div class="col-25">
          <button class="button icon-left ion-chevron-left button-calm" ng-click="back()">
            Back
          </button>
        </div>
        <div class="col-50">
          <div style="text-align: center">
            Step {{slide+1}} of 6
          </div>
        </div>
        <div class="col-25">
          <button class="button icon-right ion-chevron-right button-calm" style="float: right;" ng-click="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
